<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Console appender -->
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd/MM/yyyy HH:mm:ss} [%-5p] %-30c{1} %x: %m\n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="DEBUG" />
			<param name="levelMax" value="FATAL" />
		</filter>
	</appender>

	<!-- Spring LogLevel to ERROR -->
	<logger name="org.springframework">
		<level value="WARN" />
	</logger>

	<!-- Tous les services Mobilite to DEBUG -->
	<logger name="com.octo.samples">
		<level value="DEBUG" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="stdout" />
	</root>

</log4j:configuration>
